[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
pylint = "*"
discord-py-slash-command = "*"
emoji = "*"
tweepy = "*"

[dev-packages]

[requires]
python_version = "3.8"
