[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
discord-py-slash-command = "*"
emoji = "*"
tweepy = "*"
"discord.py" = {extras = ["voice"], version = "*"}
flask-discord = "*"
flask-restful = "*"
waitress = "*"

[dev-packages]

[requires]
python_version = "3.8"
